apiVersion: apps/v1 
kind: Deployment
metadata:
  name: {{ .Values.web.name }}
  labels:
    app: {{ .Values.web.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.web.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.web.name }}
    spec:
      imagePullSecrets:
        - name: gitlab-registry
      containers:
        - name: {{ .Values.web.name }}
          image: {{ .Values.web.image }}
          imagePullPolicy: Always
          env:
            - name: ELASTICSEARCH_URI
              value: http://localhost:9200
            - name: CollectionName
              value: "Users"
            - name: ConnectionString
              value: "mongodb://{{ .Values.web.mongodb.serviceName }}:{{ .Values.web.mongodb.port }}"
            - name: DatabaseName
              value: {{ .Values.mongodb.mongodbDatabase }}
            - name: MONGO_INITDB_ROOT_USERNAME
              value: admin
            - name: MONGO_INITDB_ROOT_PASSWORD
              value: {{ .Values.mongodb.mongodbRootPassword }}
            - name: JAEGER_AGENT_HOST
              value: localhost
            - name: JAEGER_AGENT_PORT
              value: "6831"
            - name: JAEGER_SAMPLER_TYPE
              value: "const"
          ports:
            - containerPort: {{ .Values.web.port }}
          resources:
            limits:
              memory: "128Mi"
              cpu: "50m"
          livenessProbe:
            initialDelaySeconds: 60
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
          readinessProbe:
            initialDelaySeconds: 60
            failureThreshold: 10
            httpGet:
              path: /api/health/ping
              port: 80
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
 
